  <div class="control-group">
    <%= f.label :scheduled_to, :class => 'control-label' %>
    <div class="controls"> 
      <% @recurrences.each do |recurrence| %>
        <div>
          <label class="checkbox">       
          <%= check_box_tag "user[recurrence_ids][]", recurrence.id, @user.recurrences.include?(recurrence) %>       
          <%= recurrence.scheduled_to.strftime("%d. %b. %Y") %> - <%= recurrence.event.category %>
          </label> 
        </div>
      <% end %>      
    </div>
  </div>
