<%= form_for([@recurrence, @recurrence.comments.build]) do |f| %>  
  <%= f.text_area :body, :rows => 3, :class => 'text_field' %>
  <div class="actions">
    <%= f.submit :class => 'btn btn-sm btn-primary' %>
    <%= link_to name = "", 'http://de.wikipedia.org/wiki/Markdown#Auszeichnungsbeispiele', html_options = { class: "icon-pencil", title: "Markdown::Syntax", target: "new" } %> Syntax 
  </div> 
<% end %>
