<%= form_for([@recurrence, @recurrence.comments.build]) do |f| %>  
  <div class="form-group">
    <%= f.text_area :body, :rows => 3, class: "form-control" %>
  </div> 
  <div class="form-group">
    <%= f.submit :class => 'btn btn-success btn-xs' %>
    <%= link_to name = "", 'http://de.wikipedia.org/wiki/Markdown#Auszeichnungsbeispiele', html_options = { class: "glyphicon glyphicon-pencil", title: "Markdown::Syntax", target: "new" } %> Syntax 
  </div> 
<% end %>
