// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* form_for stylings */

.date-select,
.time-select {
  float: left;
  width: auto;
}

.number-select {
  width: auto;
}
