// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table th {
  line-height: 65px;
  padding-bottom: 0px;
}

.vertical {
  display: block;
  width: 10px;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -ie-transform: rotate(-90deg);
}

hr { 
  margin-top: 7px;
  margin-bottom: 7px;
}
