<div class="well sidebar-nav">
  <h3>Backoffice</h3>
  <ul class="nav nav-list">
    <li class="nav-header">Manage</li>
    <li><%= link_to(group_path(Group.first)) do  %>
      <i class="icon-list"></i>Groupdata<% end %>
    </li>

    <li><%= link_to (users_path) do  %>
      <i class="icon-user"></i>Users<% end %>
    </li>

    <li><%= link_to (events_path)  do %>
      <i class="icon-check"></i>Events<% end %>
    </li>

    <li><%= link_to(comments_path) do  %>
      <i class="icon-comment"></i>Comments<% end %>
    </li>

    <li class="nav-header">Users</li>
    <li>X online</li>
    <li>X offline</li>
  </ul>
</div>
