<div class="well" id="birthdays">
  <h3>Geburtstage</h3>
  <table class="table table-striped table-hover">
    <%= render(partial: "users/birthday", collection: @birthdays, :as => :user) || "Keine Geburtstage in den nächsten drei Wochen vorhanden!" %>
  </table>
</div>

