<div id="footer">
  <div class="container">
    <ul class="footer-links">
      <li><a href="http://netzfisch.github.io">Blog</a></li>
      <li class="muted">&middot;</li>
      <li><a href="https://github.com/netzfisch/teamorga/wiki">Help</a></li>
      <li class="muted">&middot;</li>
      <li><a href="https://github.com/netzfisch/teamorga/issues?state=open">Issues</a></li>
      <li class="muted">&middot;</li>
      <li><a href="/pages/imprint">Imprint</a></li>
    </ul>
    <p class="text-muted">&copy; 2012 - <%= Date.today.strftime("%Y") %> by <a href="http://twitter.com/netzfisch">@netzfisch</a>, engineered with love and awesome tools like <a href="http://www.vim.org/about.php" target="_blank">VIM</a>, <a href="https://github.com/twitter/bootstrap">Bootstrap</a>, <a href="http://ruby-lang.org">Ruby</a> and <a href="http://rubyonrails.org">Rails</a></p>
  </div>
</div>
