<span class="help-block">
  * here markdown syntax is available - write <code>**bold text**</code> to get 
  <strong>bold text</strong> or <code>[this is a example link](http://example.com)</code> 
  to get <a href="http://example.com/">this example link</a> - further descriptions 
  are available at 
  <%= link_to name = "", 'http://daringfireball.net/projects/markdown/syntax', 
    html_options = { class: "icon-pencil", title: "Markdown::Syntax", target: "new" } %> !
</span>
