<% content_for :right_column do %>
  <div class="row">
    <div class="span5 offset1">
      <%= yield %>
    </div>
    <div class="span5">
      <%= render 'layouts/birthdays' %>
      <%= render 'layouts/comments' %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>

