<% content_for :divided_spans do %>
  <div class="row">
    <div class="span8">
      <%= yield %>
    </div>
    <div class="span4">
      <%= render "layouts/sidebar"%>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application'%>

